
@model IEnumerable<PeliculasDisney.Models.Pelicula>

@{
    ViewData["Title"] = "Lista Peliculas";
}


<h1>LISTA DE PELICULAS</h1>
<section id="gallery">
    <div class="container ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        @if (item.Imagen != null)
                        {
                            <img id="imagenArtista" src="data:image/*;base64,@(Convert.ToBase64String(item.Imagen))">
                        }
                        else
                        {
                            <img id="imagenArtista" style="width:350px;height:350px; object-fit:cover" src="">
                        }
                    <div class="card-body">
                        <h5 class="card-title">Titulo: @item.Titulo </h5>
                        <h5 class="card-title">Fecha de Creacion: @item.FechaCreacion </h5>

                    </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

