@model PeliculasDisney.Models.Personaje

@{
    ViewData["Title"] = "Editar Personaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<div class="container">

    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Peso" class="control-label"></label>
                    <input asp-for="Peso" class="form-control" />
                    <span asp-validation-for="Peso" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="PeliculasAsociadas" class="control-label"></label>
                    <input asp-for="PeliculasAsociadas" class="form-control" />
                    <span asp-validation-for="PeliculasAsociadas" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Historia" class="control-label"></label>
                    <input asp-for="Historia" class="form-control" />
                    <span asp-validation-for="Historia" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>

                    <input type="file" accept=".png,.jpg,.jpeg" asp-for="Imagen" class="form-control" id="customFile" name="subir"
                           style="border:0px !important;padding:0px;padding-top:10px;padding-bottom:30px;"
                           onchange="document.getElementById('imagen').src = window.URL.createObjectURL(this.files[0])" />

                    <span asp-validation-for="Imagen" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <input type="submit" value="Editar Personaje" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>


